<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html ng-app="adrian">
    <head>
        <base href="./">
        <script src="./angular/angular.min.js"></script>
        <script src="./angular/angular-animate.min.js"></script>
        <script src="./angular/angular-route.min.js"></script>
        <script src="session.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="menu-lateral" ng-controller="menu">
            <ul>
                <li><a href="./#/">Re</a></li>
                <li><a href="./#/inicio">Inicio</a></li>
                <li><a href="./#/perfil">Perfil</a></li>
                <li><a href="./#/amigos">Amigos</a></li>
            </ul>
        </div>
        <div class="body" ng-controller="Main">
            <div ng-view class="view-animate"></div>
        </div>

        <script type="text/ng-template" id="main.html">
            Root
        </script>

        <script type="text/ng-template" id="inicio.html">
            Inicio
        </script>

        <script type="text/ng-template" id="perfil.html">
            <form>
                <div>Usuario</div>
                <input type="text" ng-model="datalogin.usuario" name="usuario" ng-init="datalogin.usuario = 'jnesta'"></input>
                <div>Contraseña:</div>
                <input type="password" ng-model="datalogin.pass" name="pass"></input>
                <button ng-click="enviar()">Enviar</button>
                <ng-ticket ng-model="aptitudes">
            </form>
        </script>

        <script type="text/ng-template" id="amigos.html">
            {{cookie}}
            {{amigos}}
        </script>

    </body>
</html>
